* {
    font-family: 'Courier Neww', Courrier, monospace;
}

.nav {
    background-color: #111;
    display: flex;
    width: 102%;
    margin-top: -165px;
    margin-left: -10px;
}


body {
    margin-top: 180px;
}

.img1 {
    height: 400x;
    width: 35%;
    margin-left: 30px;
}

.img2 {
    height: 400x;
    width: 35%;
    margin-left: 30px;
}

.inicio {
    display: flex;
}

.sobre-nosotros {
    display: flex;
}

.inicio-descripcion {
    height: 300px;
    width: 60%;
}

.btn-quieres-saber-mas {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-quieres-saber-mas:hover {
    background-color: #2AAF50;
}


.sobre-nosotros-descripcion {
    height: 300px;
    width: 60%;
    margin-left: 20px;
}

.titulo {
    padding-left: 20%;
    margin-top: 40px;
}

.in {
    text-align: center;
    font-size: 30px
}

.logo {
    width: 150px;
    height: 100px;
    display: inline-block;
}

.nav__ul {
    margin-left: auto;
    margin-right: 12px;
    margin-top: 50px
}



.nav__li {
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.nav__li:hover > a {
    color: #bbb;
}

.nav__li:hover {
    color: #bbb;
}


.nav__li a {
    color: #fff;
    text-decoration: none;
}

.nav__li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}


.nuestros-platos {
    text-align: center
}

.grid {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img3 {
    width: 200px;
    height: 300px;
    margin: auto;
}

.nuestros-platos-descripcion {
    margin-top: 100%;
}

.descripcion-plato {
    text-align: center;
    margin: 15px;
}

.plato {
    text-align: center;
}

.footer {
    display: flex;
    background-color: #000;
    color: #fff;
    margin-left: -10px;

}

.copyr {
    align-self: center;
    margin-left: 10%;
}

.nosotros {
    font-size: 11px;
    margin-top: 17px
}

.redes-sociales {
    margin-left: auto;
    padding-right: 70px;
    display: flex;
}

.facebook {
    height: 22px;
    width: 22px;
    margin: auto;
    margin-right: 20px;
}

.instagram {
    height: 25px;
    width: 25px;
    margin: auto;
}

.facebook:hover {
    background-color: white;
}